#location {
  color: #777;
  background: #f5f8fa;
  font-family: Poppins,Helvetica,sans-serif;
}

#location .main-title {
  text-align: center;
  line-height: 1.5;
  padding: 100px;
}

#location .main-title h2 {
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: -1px;
  color: #333;
}

#location .main-title p {
  font-size: 20px;
  font-weight: 100;
}

#location .doctors-info {
  display: flex;
}

#location .doctors-col {
  width: 40%;
  padding: 15px;
}

#location .doctors-col .doctors-list {
  background: #fff;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
  -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
  box-shadow: 0 0 15px 0 rgba(0,0,0,.05);
  border-radius: 3px;
  padding: 15px;
}

.clear {
  clear: both;
}

#location .doctors-col .doctors-list .col-1 {
  float: left;
  width: 20%;
}

#location .doctors-col .doctors-list .col-2 {
  float: right;
  width: 80%;
  line-height: 1.4;
}

#location .doctors-col .doctors-list .col-1 img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

#location .doctors-col .doctors-list .col-2 small {
  font-size: smaller;
}

#location .doctors-col .doctors-list .col-2 h3 {
  font-size: 22px;
  color: #333;
}

#location .doctors-col .doctors-list .col-2 p {
  color: #555;
  font-size: 1rem;
  font-weight: 100;
}

#location .doctors-col .doctors-list .col-2 .rating .fas {
  color: #ddd;
  font-size: 1rem;
  margin-top: 15px;
}

#location .doctors-col .doctors-list .col-2 .rating .fas.voted {
  color: #FFC107;
}

#location .doctors-col .doctors-list .col-3 {
  width: 100%;
}

#location .doctors-col .doctors-list .col-3 ul {
  border-top: 1px solid #ededed;
  display: block;
  padding: 20px 15px;
  margin-top: 20px;
}

#location .doctors-col .doctors-list .col-3 ul li {
  display: inline-block;
  margin-right: 5px;
  font-weight: 400;
  text-transform: capitalize;
}

#location .doctors-col .doctors-list .col-3 ul li a {
  color: #999;
}

#location .doctors-col .doctors-list .col-3 ul li:first-child:after {
    content: '|';
    font-weight: 400;
    margin-left: 8px;
    color: #ccc;
}

#location .doctors-col .doctors-list .col-3 ul li:last-child {
  float: right;
}

#location .doctors-col .doctors-list .col-3 ul li:last-child a {
  border: 2px solid #e74e84;
  color: #e74e84;
  cursor: pointer;
  padding: 5px 20px;
  border-radius: 30px;
  transition: all .3s ease-in-out;
}

#location .doctors-col .doctors-list .col-3 ul li:last-child a:hover {
  background-color: #e74e84;
  color: #fff;
}


#location .map-col {
  width: 60%;
  padding: 15px;
}

#location .map-col img {
  width: 100%;
  border: 5px solid #fff;
  border-radius: 3px;
}
