#services {
  background-color: #f5f8fa;
  padding: 120px 0 90px;
  color: #555;
  padding: 100px 0;
}

.services__header {
  margin: 0 auto;
  text-align: center;
}

.services__header h2 {
  font-size: 2.25rem;
  text-align: center;
  text-transform: uppercase;
}

.service__span--darkText {
  color: #333;
  font-weight: 600;
}

.services__p--text {
  line-height: 1.5;
  font-size: 1.25rem;
  color: #777;
  padding: 0 10%;
}

.services__card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 5px;
  margin: 75px 0;
}

.services__card {
  height: 380px;
  width: 370px;
  background-color: #fff;
  /* display: flex;
  justify-content: center; */
  position: relative;
  align-items: center;
  box-shadow: 2px 2px 5px #ccc;
  padding: 0 10px;
}

.services__span--arrow {
  position: absolute;
  top: 50%;
  right: -50px;
  border-radius: 50%;
  border: 2px solid #ededed;
  margin: -50px 0 0;
  width: 75px;
  height: 75px;
  background-color: #fff;
  z-index: 10;
}
.services__card--info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.services__card-redText {
  color: #e74e84;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 600;
  margin: 25px 0 10px;
  line-height: 1.2;
}

.services__list {
  list-style: none;
}

.servcies__list-item {
  margin: 5px 0;
  line-height: 1.4;
  text-align: center;
}

.services__card-darkText {
  padding: 10px 20px;
}

.services__button {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.services__button button {
  background-color: #e74e84;
  padding: 0.75rem 2.8rem;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
}

.services__button a {
  text-decoration: none;
  color: inherit;
}
